body{
pbackground-image: url(Images/bgplaster.jpg);
}
.head{
width : 1330px;
text-align: right;
background-color: lightgreen;
border-radius:10px;
height:150px;
}
.head a{
text-decoration: none;
font-size: 20px;
font-family: Tahoma;
}
.head h1{
text-align: left;
position: relative;
top:50px;
font-family: "Palatino Linotype";
}
.head img{
float: left;
}
.image{
background: url(Images/banner.jpg) no-repeat center center fixed;

9

height:400px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.hover{
width:400px;
height:200px;
margin: 30px;
background-color: #ffffff;
border: 10px dotted black;
opacity: 0.6;
}
.hover p{
font-size: 25px;
}
.hover button{
border:none;
width:180px;
background-color:lightgreen;
height:30px;
}
.hover button:hover{
color:red;
background-color:lightblue;
}
.dec h1{
background-color: lightgreen;
border-radius: 10px;
}
.steps{
width:100%;
margin: 0 auto;
margin-top:10px;
height:300px;
border:1px solid black;
padding-top:30px;
text-align: center;
}
.stepsinfo1, .stepsinfo2, .stepsinfo3, .stepsinfo4{
float:left;
width:20%;
height: 280px;
background-color: white;
border: 1px solid #bdbdbd;
-webkit-border-radius: 5px;
border-radius: 5px;
margin-left:50px;
}

10

.dec2 h1{
background-color:lightgreen;
border-radius:10px;
}
.categories{
width:100%;
margin: 0 auto;
margin-top:10px;
height:400px;
border:1px solid black;
padding-top:30px;
text-align: center;
}
.veggies, .mixed, .fruits{
float:left;
width:25%;
height: 350px;
background-color: white;
border: 1px solid #bdbdbd;
-webkit-border-radius: 5px;
border-radius: 5px;
margin-left:50px;
padding-top:10px;
}
.fruits{
margin-left:100px;
}
.mixed{
float:right;
margin-right:50px;
}
.categories img{
height:200px;
width:240px;
align-self: center;
border:2px dotted black;
border-radius:5px;
}
.categories input[type="button"]{
border:none;
width:180px;
background-color:lightgreen;
height:30px;
}
.categories input[type="button"]:hover{
color:red;
background-color:lightblue;

11

}
.bottom{
background-color:lightgreen;
margin-top:80px;
height:150px;
padding-top: 20px;
}
.contact{
float:left;
margin-left:20px;
}
.support{
float :right;
margin-right:50px;
}
.contact a{
text-decoration:none;
color:black;
}
.contact a:hover{
color:white;
text-decoration: none;
